{% extends 'BTTVapp/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'BTTVapp/style.css' %}">
<div id="index-title">
    <h1><b>The Batch Tide Table Viewer</b></h1>
    <h2>Your favorite ocean tide data website!</h2> 
</div>
<div id="search">
<p>Select the region you wish to view, then select a station you wish to view</p>
<ul style="list-style-type:none;">
    {% for region in regions %}
    <!-- <li><b><a href="/{{region.display_name}}/">{{region.region_name}}</b></li> -->
    <li><b><a href="{% url 'BTTVapp:region_detail' region.id %}">{{region.region_name}}</b></li>
    {% endfor %}
</ul>
</div>
{% endblock %}