{% extends 'BTTVapp/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'BTTVapp/style.css' %}">
<div id="index-title">
    <h1><b>The Batch Tide Table Viewer</b></h1>
    <h2>Your favorite ocean tide data website!</h2> 
</div>
<div id="states">
<p>Select the station you wish to view</p>
<hr>
<ul style="list-style-type:none;">
    {% for station in stations %}
    <li><b><a href="{% url 'BTTVapp:station_detail' station.id %}">{{station}}</b></li>
    {% endfor %}
</ul>
</div>
{% endblock %}