{% extends 'BTTVapp/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'BTTVapp/style.css' %}">
<div id="index-title">
    <h1><b>The Batch Tide Table Viewer</b></h1>
    <h2>Your favorite ocean tide data website!</h2>
</div>
<div id="stations" style="text-align: center;">
    <h2><b>Tide data for {{station.location_name}}</b></h2>
    <hr>
</div>
<div>
    <table id="tide_table" class="display table" width="100%">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Height (FT)</th>
                <th>High (H) Low (L)</th>
            </tr>
        <tbody>
            <tr v-for="tide_data in table_data">
                <td v-for="tide in tide_data">
                    [[tide]]
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    let app = new Vue({
        el: '#tide_table',
        data: {
            table_data: null,
        },
        delimiters: ['[[', ']]'],
        created: function () {
            axios({
                method: 'get',
                url: 'https://www.tidesandcurrents.noaa.gov/api/datagetter?begin_date=20200715&end_date=20200718&station={{station.station_id}}&product=predictions&datum=MLLW&time_zone=lst_ldt&interval=hilo&units=english&format=json',
            }).then((response) => {
                // console.log(data)
                this.table_data = response.data.predictions
                console.log(this.table_data)
                // let tides = data.predictions
                // this.table_data = tides
            })
        }
    })
</script>
{% endblock %}