{% extends 'BTTVapp/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'BTTVapp/style.css' %}">
<div id="index-title">
    <h1><b>The Batch Tide Table Viewer</b></h1>
    <h2>Your favorite ocean tide data website!</h2> 
</div>
<div id="stations">
<p>Select the state you wish to view</p>
<hr>
    <p id="id">{{station.station_id}}</p>
</div>

<script>
    axios({
        method: 'get',
        url: 'https://tidesandcurrents.noaa.gov/api/datagetter?begin_date=20200528%2015:00&end_date=20200530%2015:06&station={{station.station_id}}&product=high_low&datum=MLLW&units=english&time_zone=lst&application=ports_screen&format=json',
    }).then((response) => {
        console.log(response.data)
    })
</script>


{% endblock %}